* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white; /* steelblue */
}

/*
Set in Utils.ts and have a value of 0 or 1:
    --notch-left
    --notch-right
    --notch-top
*/

#fps {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 10;
}

#main-grid {
  position: relative;
  height: 100%;

  display: grid;
  gap: 0px 0px;
  grid-template-columns: calc(env(safe-area-inset-left) * var(--notch-left)) auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "notch toolbar board";
}
@media only screen and (max-width: 600px) {
  #main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "board"
      "toolbar";
  }
}

#board {
  grid-area: board;
  position: absolute;
  height: 100%;
  width: 100%;
}

#toolbar {
  background: whitesmoke;
  grid-area: toolbar;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  z-index: 1000;

  display: grid;
  padding: 5px;
  gap: 5px;
  justify-content: center;
  align-content: center;

  grid-auto-rows: min-content;
  grid-auto-flow: row;
}
@media only screen and (max-width: 600px) {
  #toolbar {
    grid-auto-columns: min-content;
    grid-auto-flow: column;
  }
}
.toolbar-item {
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
}
.toolbar-item:hover,
.toolbar-item.selected {
  background: rgba(0,0,0,0.05);
}
.toolbar-item:active {
  background: rgba(0,0,0,0.1);
}
.toolbar-item > img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.fullscreen {
  box-shadow: inset 0px 0px 10px 5px white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-select {
  user-select: none;
}

.hidden {
  display: none;
}

/* --- TEMPORARY --- */
.entity {
  background: lightgrey; /* lightcoral */
  resize: none;
}

.handle-resize {
  cursor: nw-resize;
}

.handle-rotate {
  cursor: url('./images/rotate_cursor.svg') 10 10, grabbing;
}
/* ------------------ */