* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: steelblue;
}

#fps {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#log {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}


#board {
  /*border: 5px solid goldenrod;*/
  background: lightcyan;
}

.note {
  background: lightcoral;
  padding: 10px;
  resize: none;
  cursor: default;
}
.note:focus-within {
  cursor: text;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white-rounded {
  margin: 20px;
  padding: 8px;
  background: white;
  border-radius: 5px;
  box-shadow: 4px 3px 9px 0px rgba(0, 0, 0, 0.3);
}

/* TODO: add @media for smaller screens.
This should also update the HTML merge the
menus into one. */