html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* https://www.cssfontstack.com/Open-Sans */

h1 {
    font-family: "Open Sans";
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

p, #log, #fps {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

#fps {
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
}

#canvas {
    background: teal;
    width: 100%;
    height: 100%;
}

#toolbar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
}

#toolbar {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.toolbar-item {
    width: 40px;
    height: 40px;
}

.dragging {
    opacity: 0.8;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white-rounded {
    margin: 20px;
    padding: 8px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 3px 9px 0px rgba(0,0,0, 0.3);
}

/* TODO: add @media for smaller screens.
This should also update the HTML merge the
menus into one. */